/* @theme msg */

@import "default";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@200;300;400;700@display=swap');
@import url('data:text/css, .bespoke-progress-bar {background-color: rgba(0, 105, 180, 1) !important;}');

:root {
    --msg-theme-color: #A01441;
    --msg-red: #A01441;
    --msg-dark-gray: #6F6F6F;
    --msg-gray: #ACACAC;
    --msg-black: #000000;
    --msg-white: #FFFFFF;
    --msg-petrol: #139EAD;
    --msg-yellow: #F5B510;
    --msg-green: #70DC51;
    --msg-purple: #5866E3;
    --msg-pink: #D74B97;
}

section {
    background-image: url("themes/bg_content.png");
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-weight: 400;
    padding: 145px 80px 68px 65px;
    background-size: contain;
}

h1 {
    top: 12px;
    position: absolute;
    color: black;
    font-size: 24pt;
    font-weight: 700;
    height: 130px;
    max-width: calc(100% - 160px);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

h2 {
    color: var(--msg-theme-color);
}

h2,
h3 {
    margin-top: 12px;
    margin-bottom: 8px;
}

li::marker {
    color: var(--msg-red);
}

header {
    opacity: 0;
}

footer {
    position: absolute;
    color: var(--msg-black);
    font-size: 14pt;
    font-weight: 700;
    margin: 0;
    padding: 0;
    left: 130px;
    bottom: 22px;
}

footer::before {
    content: "© ";
}

/* pagenumber */
section::after {
    bottom: 22px;
    color: var(--msg-black);
    content: attr(data-marpit-pagination);
    font-size: 14pt;
    font-weight: 700;
    margin: 0;
    padding: 0;
    left: 72px;
    position: absolute;
}

/* ################ Title ################ */

section.title {
    padding-left: 530px;
    background-image: url("themes/bg_title.png");
    background-repeat: no-repeat;
}

section.title::before {
    content: url("themes/title.jpg");
    left: 0;
    top: 0;
    position: absolute;
}

section.title>h1 {
    position: absolute;
    top: 20%;
    margin: 0;
    height: 28%;

    padding: 0;
    font-size: 44pt;
    line-height: normal;
    color: var(--msg-red);
    font-weight: 700;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

section.title>h2 {
    position: absolute;
    top: 50%;
    margin: 0;
    padding: 0;
    font-size: 24pt;
    color: var(--msg-black);
    font-weight: 700;
}

section.title::after {
    opacity: 0;
}

section.title>footer {
    opacity: 0;
}

/* ################ Agenda ################ */

section.agenda {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
}

section.agenda::before {
    top: 12px;
    position: absolute;
    color: black;
    font-size: 24pt;
    font-weight: 700;
    height: 130px;
    max-width: calc(100% - 160px);

    display: flex;
    justify-content: flex-end;
    align-items: center;

    content: "Agenda";
}

section.agenda>ol {
    list-style: none;
    counter-reset: my-counter;
    padding: 0;
    margin-top: 0;
    align-self: flex-start;
}

section.agenda>ol>li {
    counter-increment: my-counter;
    margin-bottom: 20pt;
    font-size: 16pt;
}

section.agenda>ol>li::before {
    content: counter(my-counter, decimal-leading-zero) ;
    border-radius:50%;
    padding: 5px 8px;
    border: 1px solid black;
    margin-right: 15pt;
}
